/* common shared styles */
body {
    font-family: "Open Sans", serif;
}

.btn-primary {
    color: #FFFFFF;
    background: #FD6E0A;
    border: none;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 30px;
}

.text-primary {
    color: #FD6E0A;
}

.section-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.section-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

}

/* header related styles  */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 230px;
}

.nav-title {
    color: #181818;
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav li a {
    color: #474747;
    text-decoration: none;

}

/* banner related styles */
.banner-container {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 230px;
}

.banner-item {
    max-width: 500px;
}

.banner-greeting {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 0px;
}

.banner-title {
    color: #181818;
    font-weight: 700;
    font-size: 85px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.banner-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

.banner-profile img {
    width: 500px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}


/* about related styles */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
    padding: 130px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-name {
    color: #757575;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

.info-data {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}

/* what-i-do-related styles */
#what-i-do-description {
    padding: 30px 150px;
    margin-top: 0;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    gap: 25px;
}

.skills {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 25px;
}

.skill-title {
    color: #181818;
    ;
    font-weight: 700;
    font-size: 20px;
}

.skill-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;

}

/* resume realted styles */
.resume-container {
    display: flex;
    gap: 50px;
}

.resume-qualification {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
}

.resume-institution {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
}

.resume-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer related styles */
footer {
    background: #FFF8F3;
    display: flex;
    gap: 80px;
    margin-top: 130px;
    padding: 130px 200px;
}

.footer-column {
    width: 50%;
}

.footer-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
}

.footer-description {
    color: #474747;
    font-weight: 400;
    font-size: 16px;
}

.social-links a {
    margin-right: 25px;
}

.footer-column input[type="text"],
.footer-column input[type="email"],
textarea {
    display: block;
    margin-bottom: 20px;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    width: 100%;
}